extends layout


block content

    h1= title

    p Welcome to #{title}

    p Math.pow() is applied to #{n1} is #{pow}

    p Math.sign() is applied to #{n2} is #{sgn}

    p Math.tanh() is applied to #{n3} is #{tnh}

    p Math.trunc() is applied to #{n4} is #{trun}